<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Menu</title>
</head>

<body>

    <h1>- Final Project -</h1>
    <hr width = 500>
    <p class="msg">
        Please choose an option below the images.
    </p>
<div class="container">
    
    <div class="form-input">
        <form action="/static" method="POST">
            <button name="static" type="submit" class="btn">Static Stream</button>
        </form>
    <img src="../static/cloud.png" alt="Streaming Project" class="Streaming" />
        <form action="/stream" method="POST">
            <button name="stream" type="submit" class="btn">Live Stream</button>
        </form>
    </div>
    <hr width = 500>
</body>
</html>
