<!DOCTYPE html>
<html lang="en">
 <head>
    <meta Charset="UTF-8">
    <title>Live Stream</title>  
 </head>
 <body>
    <center>
    <h1>Live Stream</h1>
    <hr width=500>

    <form action="/menu" method="POST">
        <button name="back" type="submit" class="btn">Back</button>
    </form>

    <hr width=500>
    <p>The stream Should appear below.<br

    </p>
 </font>     
    </p>
 <video id="stream" width="640" height="480" src="http://incompleteclass.ddns.net:8080/stream" type="video/ogg; codecs=theora" autoplay="autoplay" controls/>
</center>
 </body>
</html>